body {
    font-family: Arial, sans-serif;
    background-color: #ccc;
    padding: 30px;
}

h1 {
    color: #000;
}

button {
    padding: 8px 14px;
    cursor: pointer;
}
.search-area {
    margin-bottom: 20px;
}

#search {
    width: 300px;
    padding: 8px;
    margin-right: 10px;
}

#result {
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 6px;
}
